.menu {
    margin-top: 20px;
    color: grey;
    width: 150px;
    font-size: 12px;
    padding-left: 20px;
    text-align: left;
    background-color: white;
}

.menu-entry {
    padding-bottom: 20px;
}

.menu-entry-label {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* i'm not sure what this is for but i think it matters */
input[type='file'] {
    position: absolute;
    left: -99999rem;
}

input[type='button'] {
    position: absolute;
    left: -99999rem;
}

.slider-asterix {
    user-select: none;
    height: 10px;
    width: 10px;
}
.slider-asterix:hover {
    color: cornflowerblue;
}

.slider-track {
    font-size: 15px;
    color: blue;
    user-select: none;
}

.slider-input {
    -webkit-appearance: none;
    width: 80px;
    background: transparent;
    outline: none;
    opacity: 0;
    transition: opacity 0.2s;

    position: absolute;
    left: 25px;

    margin-top: -2px;
}

.slider-input:hover {
    /* opacity: 1; */
}

.slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: blue;
    cursor: grab;

    margin-bottom: 10px;
}

/* buttons, like 'save to clipboard', and 'upload file' */
.clickable-button {
    border: 1px solid rgb(200, 200, 200, 1);
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-radius: 2px;
}

.clickable-button:hover {
    background-color: lightgrey;
}

.hidden-button {
    position: absolute;
    left: -99999rem;
}

/* check boxes */
.checkboxes label {
    display: block;
}

.checkboxes input {
    width: 25px;
    height: 15px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}
