.menu {
    margin-top: 20px;
    color: grey;
    width: 200px;
    font-size: 10px;
    padding-left: 20px;
    text-align: left;
}

.menu-entry {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* i'm not sure what this is for but i think it matters */
input[type='file'] {
    position: absolute;
    left: -99999rem;
}

input[type='button'] {
    position: absolute;
    left: -99999rem;
}

.slider {
}

.slider-track {
    font-size: 18px;
    color: blue;
}

/* buttons, like 'save to clipboard', and 'upload file' */
.clickable-button {
    border: 1px solid rgb(200, 200, 200, 1);
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-radius: 2px;
}

.clickable-button:hover {
    background-color: lightgrey;
}

.hidden-button {
    position: absolute;
    left: -99999rem;
}

/* check boxes */
.checkboxes label {
    display: block;
}

.checkboxes input {
    width: 25px;
    height: 15px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}
